---
// components
import Contact from "@components/Contact/Contact.astro";
import RouteGrid from "@components/Route/RouteGrid.astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

const routes = await getCollection("routes", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});

// Sort routes by order field
const sortedRoutes = routes.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout title="Routes" description="Route page for my projects and work.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				Themed travel routes beyond the scenery. <br />
			</h1>
		</div>
		<RouteGrid routes={sortedRoutes} />
	</div>



	<Contact class="mt-12" />
</BaseLayout>
